---

name: unstash action
inputs:
  name:
    description: 'Unstash name'
    default: 'unstash'
  path:
    description: 'A directory that describes where to extract stashed files'
    required: true

runs:
  using: "composite"
  steps:
    - name: Download stash
      uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.name }}
        path: ${{ runner.temp }}

    - name: Extract stash
      run: tar -xf ${{ runner.temp }}/"${ARTIFACT_NAME}".tar.zst -C "${ARTIFACT_PATH}"
      shell: bash
      env:
        ARTIFACT_NAME: ${{ inputs.name }}
        ARTIFACT_PATH: ${{ inputs.path }}
