---
version: 2
registries:
  docker-elastic:
    type: docker-registry
    url: https://docker.elastic.co
    username: ${{secrets.ELASTIC_DOCKER_USERNAME}}
    password: ${{secrets.ELASTIC_DOCKER_PASSWORD}}

updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3
    exclude-paths:
      - "integration-tests/**"
    allow:
      - dependency-name: "com.lmax:disruptor"
      - dependency-name: "org.jctools:jctools-core"
      - dependency-name: "co.elastic.logging:log4j2-ecs-layout"
      - dependency-name: "org.testcontainers:testcontainers"
      - dependency-name: "org.junit.jupiter:*"
      - dependency-name: "junit:junit"
      - dependency-name: "org.junit.vintage:*"
      - dependency-name: "org.assertj:assertj-core"
      - dependency-name: "org.mockito:mockito-core"
      - dependency-name: "com.networknt:json-schema-validator"
      - dependency-name: "com.fasterxml.jackson.core:jackson-databind"
      - dependency-name: "org.eclipse.jetty:jetty-servlet"
      - dependency-name: "com.github.tomakehurst:wiremock-standalone"
      - dependency-name: "org.awaitility:awaitility"
      - dependency-name: "org.apache.ivy:ivy"
      - dependency-name: "net.bytebuddy:*"
      - dependency-name: "org.ow2.asm:asm-tree"
      - dependency-name: "com.blogspot.mydailyjava:weak-lock-free"
      - dependency-name: "org.slf4j:*"
      - dependency-name: "com.squareup.okhttp3:okhttp"
      - dependency-name: "com.datastax.cassandra:cassandra-driver-core"
      - dependency-name: "com.datastax.oss:java-driver-core"
      - dependency-name: "io.micrometer:*"
      - dependency-name: "redis.clients:*"
      - dependency-name: "io.vertx:*"
      - dependency-name: "org.apache.logging.log4j:*"
      - dependency-name: "org.springframework.boot:*"
      - dependency-name: "io.opentelemetry:*"
      - dependency-name: "io.opentelemetry.semconv:*"
    ignore:
      - dependency-name: "org.slf4j:slf4j-api"
        # A static arbitrary version used within our external plugin test + latest for java 7
        versions: [ "<=1.7.25", "1.7.36" ]
      # Keep the fixed versions for older elastic client-plugins
      - dependency-name: "org.elasticsearch.client:*"
        versions: [ "5.6.0", "6.7.0", "5.0.2" ]
      # Prevent dependabot from attempting to upgrade vertx from version 3 to 4, but still perform minor & patch updates
      - dependency-name: "io.vertx:*"
        update-types: [ "version-update:semver-major" ]
      - dependency-name: "org.springframework.boot:*"
        update-types: [ "version-update:semver-patch" ] # ignore spring patch updates to prevent PR spam
      # Since these AWS dependencies are heavy and are being released very frequently, we ignore in the weekly update and update monthly
      - dependency-name: "com.amazonaws:aws-java-sdk-s3"
      - dependency-name: "com.amazonaws:aws-java-sdk-dynamodb"
      - dependency-name: "com.amazonaws:aws-java-sdk"
      - dependency-name: "software.amazon.awssdk:*"
      # we do not have support for 5.x yet
      - dependency-name: "com.squareup.okhttp3:okhttp"
        update-types: [ "version-update:semver-major" ]
  - package-ecosystem: "maven"
    directory: "/apm-agent-plugins"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    allow:
      - dependency-name: "com.amazonaws:aws-java-sdk-s3"
      - dependency-name: "com.amazonaws:aws-java-sdk-dynamodb"
      - dependency-name: "software.amazon.awssdk:*"

  - package-ecosystem: "github-actions"
    directories:
      - '/'
      - '/.github/actions/*'
      - '/.github/workflows/*'
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - '/'
    registries: "*"
    schedule:
      interval: "daily"
