---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3
    reviewers:
      - "@elastic/apm-agent-java"
    allow:
      - dependency-name: "com.lmax:disruptor"
      - dependency-name: "org.jctools:jctools-core"
      - dependency-name: "co.elastic.logging:log4j2-ecs-layout"
      - dependency-name: "org.testcontainers:testcontainers"
      - dependency-name: "org.junit.jupiter:*"
      - dependency-name: "junit:junit"
      - dependency-name: "org.junit.vintage:*"
      - dependency-name: "org.assertj:assertj-core"
      - dependency-name: "org.mockito:mockito-core"
      - dependency-name: "com.networknt:json-schema-validator"
      - dependency-name: "com.fasterxml.jackson.core:jackson-databind"
      - dependency-name: "org.eclipse.jetty:jetty-servlet"
      - dependency-name: "com.github.tomakehurst:wiremock-standalone"
      - dependency-name: "org.awaitility:awaitility"
      - dependency-name: "org.apache.ivy:ivy"
      - dependency-name: "net.bytebuddy:*"
      - dependency-name: "org.ow2.asm:asm-tree"
      - dependency-name: "com.blogspot.mydailyjava:weak-lock-free"
      - dependency-name: "org.slf4j:*"
      - dependency-name: "com.squareup.okhttp3:okhttp"
      - dependency-name: "com.datastax.cassandra:cassandra-driver-core"
      - dependency-name: "com.datastax.oss:java-driver-core"
      - dependency-name: "io.micrometer:*"
      - dependency-name: "redis.clients:*"
      - dependency-name: "org.elasticsearch.client:*"
      - dependency-name: "co.elastic.clients:*"
      - dependency-name: "io.vertx:*"
      - dependency-name: "org.apache.logging.log4j:*"
    ignore:
      - dependency-name: "net.bytebuddy:byte-buddy-agent"
        # We deliberately want to keep this older version of Byte Buddy for our runtime attach test
        versions: [ "<=1.9.16" ]
      - dependency-name: "org.slf4j:slf4j-api"
        # A static arbitrary version used within our external plugin test + latest for java 7
        versions: [ "<=1.7.25", "1.7.36" ]
      # Keep the fixed versions for older elastic client-plugins
      - dependency-name: "org.elasticsearch.client:*"
        versions: [ "5.6.0", "6.7.0", "5.0.2" ]
      # Prevent dependabot from attempting to upgrade vertx from version 3 to 4, but still perform minor & patch updates
      - dependency-name: "io.vertx:*"
        update-types: [ "version-update:semver-major" ]
      # Since these AWS dependencies are heavy and are being released very frequently, we ignore in the weekly update and update monthly
      - dependency-name: "com.amazonaws:aws-java-sdk-s3"
      - dependency-name: "com.amazonaws:aws-java-sdk-dynamodb"
      - dependency-name: "com.amazonaws:aws-java-sdk"
      - dependency-name: "software.amazon.awssdk:*"
  - package-ecosystem: "maven"
    directory: "/apm-agent-plugins"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    reviewers:
      - "@elastic/apm-agent-java"
    allow:
      - dependency-name: "com.amazonaws:aws-java-sdk-s3"
      - dependency-name: "com.amazonaws:aws-java-sdk-dynamodb"
      - dependency-name: "software.amazon.awssdk:*"
