---

name: common build tasks
description: Install specific JDK and run a command

inputs:
  command:
    description: 'Command to execute'
    required: true
  shell:
    description: 'Default shell'
    default: 'bash'
    required: false

runs:
  using: "composite"
  steps:
    - name: Set up build JDK
      uses: actions/setup-java@v4
      with:
        java-version-file: .java-version
        distribution: temurin
        cache: 'maven'
    - run: $COMMAND
      shell: ${{ inputs.shell }}
      env:
        COMMAND: ${{ inputs.command }}
