---

name: common build tasks
description: Install specific JDK and run a command

inputs:
  test-java-version:
    description: 'Testing Java version'
    required: true
    default: '17'
  test-java-distribution:
    description: 'Testing Java distribution'
    required: true
    default: 'temurin'
  command:
    description: 'Command to execute'
    required: true
  shell:
    description: 'Default shell'
    default: 'bash'
    required: false

runs:
  using: "composite"
  steps:
    - name: Set up testing JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.test-java-version}}
        distribution: ${{ inputs.test-java-distribution}}

    - name: Set up TEST_JAVA_BINARY environment variable
      shell: bash
      run: |
        major_version="$(echo "$TEST_JAVA_VERSION" | sed 's/\([0-9]*\).*/\1/')"
        java_home_var=JAVA_HOME_${major_version}_${{ runner.arch }}
        echo "TEST_JAVA_BINARY=${!java_home_var}/bin/java" >> $GITHUB_ENV
      env:
        TEST_JAVA_VERSION: ${{ inputs.test-java-version }}

    - uses: ./.github/workflows/maven-goal
      with:
        command: ${{ inputs.command }}
        shell: ${{ inputs.shell }}
      env:
        TEST_JAVA_BINARY: ${{ env.TEST_JAVA_BINARY }}
