<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Simple Web App</display-name>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>co.elastic.webapp.TestServlet</servlet-class>
        <!--initializes servlet eagerly so that the db initialization is not part of the transaction-->
        <load-on-startup>0</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncTestServlet</servlet-name>
        <servlet-class>co.elastic.webapp.AsyncTestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncTestServlet</servlet-name>
        <url-pattern>/async-servlet</url-pattern>
    </servlet-mapping>
</web-app>
