name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.asciidoc'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.asciidoc'

env:
  JAVA_VERSION: 17
  JAVA_DIST: temurin

# limit the access of the generated GITHUB_TOKEN
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ls -alh /sys/fs/cgroup
        shell: bash
      - uses: ./.github/workflows/stash
        with:
          name: cgroup
          path: /sys/fs/cgroup
      # - uses: ./.github/workflows/build
      #   with:
      #     java-version: ${{ env.JAVA_VERSION }}
      #     distribution: ${{ env.JAVA_DIST }}
      # - uses: ./.github/workflows/stash
      #   with:
      #     name: build
      #     path: ${{ github.workspace }}

  # license:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - name: mvn license
  #       uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw org.codehaus.mojo:license-maven-plugin:aggregate-third-party-report -Dlicense.excludedGroups=^co\\.elastic\\.
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}

  # unit-tests:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw test
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}
  #     - name: Store test results
  #       if: success() || failure()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: test-results
  #         path: '**/target/*.xml'

  # non-app-server-integration-tests:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw -q -P ci-non-application-server-integration-tests verify
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}
  #     - name: Store test results
  #       if: success() || failure()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: test-results
  #         path: '**/target/*.xml'

  # app-server-integration-tests:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw -q -P ci-application-server-integration-tests verify
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}
  #     - name: Store test results
  #       if: success() || failure()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: test-results
  #         path: '**/target/*.xml'

  # javadoc:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw compile javadoc:javadoc
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}

  # unit-tests-windows:
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/build
  #       with:
  #         java-version: ${{ env.JAVA_VERSION }}
  #         distribution: ${{ env.JAVA_DIST }}
  #         command: ./mvnw test

  # jdk-compatibility-tests:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   strategy:
  #     matrix:
  #       version: [11, 17, 19]
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: ./.github/workflows/unstash
  #       with:
  #         name: build
  #         path: ${{ github.workspace }}
  #     - name: mvn test for ${{ matrix.version }}:${{ env.JAVA_DIST }}
  #       uses: ./.github/workflows/build
  #       with:
  #         command: ./mvnw test
  #         java-version: ${{ matrix.version }}
  #         distribution: ${{ env.JAVA_DIST }}
  #     - name: Store test results
  #       if: success() || failure()
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: test-results
  #         path: '**/target/*.xml'
